[Desktop Entry]
Type=Application
Name=Terminal
Description=Run terminal with an anonymous tmux session
Icon=alacritty
Keywords=term;terminal;tty;pty;nvim;tmux
Categories=System;TerminalEmulator;
Exec=term.sh
